/*
  Possible Animations:
  enter
  exit
  appear Must set transitionAppear={true} on animation component
*/

.order-enter
  transform: translateX(-120%)
  transition .5s
  max-height: 0
  padding 0 !important
  &.order-enter-active
    max-height 60px
    transform: translateX(0)
    padding 2rem 0 !important

.order-exit
  transition .5s
  transform: translateX(0)
  &.order-exit-active
    transform: translateX(120%)
    padding: 0

.count
  position relative

.count-enter
  transition .5s
  transform translateY(100%)
  &.count-enter-active
    transform translateY(0)

.count-exit
  transform translateY(0) opacity 1
  transition .2s
  position absolute
  left 0
  bottom 0
  &.count-exit-active
    transform translateY(-100%) opacity 0
